@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

// Override default variables before the import
$body-bg: #222;
$body-color: #ccc;
$font-family-sans-serif: Quicksand;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
